<!DOCTYPE html >
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/mainStyles")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bibles")
    @Scripts.Render("~/bundles/myScripts")
    
</head>
<body>
    <div id="header">
        @Html.ActionLink("MY STRANGE GAME", "Index", "Home", null, new { @id = "homeLink" })
        @if (Session["FullName"] == null)
        { Html.RenderPartial("WelcomeGuest"); }

        else
        { Html.RenderPartial("WelcomeUser"); }
    </div>

    <div id="contentDiv">

        @RenderBody()
    </div>

    @RenderSection("Addons", false)
</body>
</html>
