@model MyGame.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Scripts.Render("~/bundles/RegLog");
}

@section Addons{
    <link href="~/Content/RegistrationAndLogin.css" type="text/css" , rel="stylesheet" />
    <script src="~/Scripts/Bibles/jquery.validate.min.js"></script>
    <script src="~/Scripts/Bibles/jquery.validate.unobtrusive.min.js"></script>
}

<div id="form-wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "valid-message" })

        <div class="form-group">
            @Html.LabelFor(model => model.EmailOrNickname, htmlAttributes: new { @class = "reg_label" })
            @Html.EditorFor(model => model.EmailOrNickname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailOrNickname, "", new { @class = "valid-message" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "reg_label" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "valid-message" })
        </div>

        <div class="reg_field_wrapper">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>

    }
</div>