@model MyGame.Models.FieldModel

@if(Model.Color == "#3B363A")
{
    <div class="tableSquare blackSquares" style="background-color: @Model.Color" data-xcoord="@Model.X" , data-ycoord="@Model.Y"></div>
}
else
{
    <div class="tableSquare" style="background-color: @Model.Color" data-xcoord="@Model.X" , data-ycoord="@Model.Y"></div>
}

