
@model MyGame.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_RegLog_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset id="form-wrapper">
        <legend>Login</legend>
        @Html.ValidationSummary(true, "", new { @class = "validation-error" })
        <p>@ViewBag.ErrorMessage</p>
        
        <div class="reg_field_wrapper">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "reg_label" })
            <div class="reg_input_wrapper">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "reg_input" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="reg_field_wrapper">
            @Html.LabelFor(model => model.PasswordHash, "Password", htmlAttributes: new { @class = "reg_label" })
            <div class="reg_input_wrapper">
                @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "reg_input", @type = "password" } })
                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="reg_field_wrapper">
            <input type="submit" value="Login" id="reg_summit_btn" />
        </div>
    </fieldset>
}